@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

html, body {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    padding-top: 0px;
    margin: 0px;
    overflow: hidden visible;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

header {
    border-radius: 0px 0px 20px 20px;
    background: linear-gradient(94deg, #969291 38.89%, #B2ABA5 87.78%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 100%;
    margin: 0px;
    color: white;
    padding-bottom: 3%;
}

header > .inheader > img {
    position: absolute;
    top: 1.25em;
    left: 4.13em;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
    width: 11.76406rem;
    height: 11.76406rem;
    flex-shrink: 0;
}

header > .inheader > a > img {
    position: absolute;
    top: 1.25em;
    left: 4.13em;
    filter: drop-shadow(0px 4px 1px rgba(0, 0, 0, 0.25));
    width: 11.76406rem;
    height: 11.76406rem;
    flex-shrink: 0;
}

footer {
    border-radius: 10px 10px 0px 0px;
    background: linear-gradient(94deg, #969291 38.89%, #B2ABA5 87.78%);
    color: white;
    width: 100%;
}

footer > .infooter > p {
    padding-left: 2%;
    padding-block: 1%;
    margin: 0px;
}

footer > .infooter > img {
    width: 11%;
    height: 7%;
    padding-right: 0.7%;
    flex-shrink: 0;
}

.highlight {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.highlight::before {
    content: "";
    height: 0.5em;
    width: 105%;
    position: absolute;
    bottom: 0.2em;
    left: -2.5%;
    background-color: #C79400;
    z-index: -1;
}

.highlight2 {
    position: relative;
    display: inline-block;
    z-index: 1;
}

.highlight2::before {
    content: "";
    height: 0.5em;
    width: 105%;
    position: absolute;
    bottom: 0.2em;
    left: -2.5%;
    background-color: #C79400;
    z-index: -1;
}


.infooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.inheader {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.title {
    position: absolute;
    text-align: center;
}

nav > ul {
    list-style-type: none;
    padding: 0;
    font-weight: 500;
    font-size: 1.1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0;
}

nav > ul > li {
    margin-top: 1%;
    margin-right: 1%;
}

.conn-button {
    border-radius: 13px;
    background: none;
    box-shadow: inset 0px 0px 15px 5px rgba(0, 0, 0, 0.25);
    padding-inline: 1.4em;
    padding-block: 0.5em;
}

.goldnav-button {
    border-radius: 13px;
    background: #C79400;
    padding-inline: 1.4em;
    padding-block: 0.5em;
}

li > a {
    color: black;
    text-decoration: none;
    padding-inline: 2em;
    padding-block: 0.7em;
}

li > a:hover {
    color: #ffe6c7;
}

.highlight {
    margin-left: 5em;
}

h1 {
    font-weight: 700;
    font-size: 32px;
    margin: 0;
}

.article {
    margin-inline: 5%;
    margin-block: 2%;
}

.main-article {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.main-article > * {
    flex-grow: 10;
}

.ligne {
    width: 100%;
    display: flex;
    flex-grow: 10;
    gap: 2%;
}

.ligne > * {
    flex-grow: 10;
}

.titre {
    color: #000000;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 1.3em;
    align-items: center;
    gap: 0.5em;
}

.subarticle {
    background: #D2D2D2;
    border-radius: 2.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    display: flex;
    text-align: left;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-block: 1%;
    margin-bottom: auto;
    height: auto;
    padding: 2em;
}

.button {
    background: #BDBBB9;
    border-radius: 2.5rem;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 91%;
    height: 78%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin-block: 0 auto;
    padding: 3%;
}

a {
    color: black;
    text-decoration: none;
}

.not {
    color: blue;
    text-decoration: underline;
}

.subarticle > iframe {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 11%;
    padding-right: 11%;
    padding-top:4%;
}

#texte {
    justify-content: flex-start;
    align-items: flex-start;
}

#texte > blockquote {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 1.5em;
    color: #000000;
    flex-direction: row;
    align-items: center;
    padding-inline: 2em;
}

table {
    width: 100%;
    align-items: center;
    margin-top:4%;
    border-collapse: collapse;
    border: 1px solid #000000;
    background-color: #ffffff;
}

th, td {
    padding: 0.2em;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid;
    color: #000000;
    font-style: normal;
    font-weight: 600;
    font-size: 1.3em;
}

.ligne > img {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 2.5em;
    width: 66.5rem;
    height: 57em;
    margin-block: 1%;
    overflow: hidden;
}

#formtit {
    padding-bottom: 3em;
}

.formulaire > .email {
    display: flex;
    font-style: normal;
    font-size: 1.36em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 20%;
}

.formulaire > .login {
    display: flex;
    font-style: normal;
    font-size: 1.36em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 60%;
}

.formulaire > .password {
    display: flex;
    font-style: normal;
    font-size: 1.36em;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.formulaire > .creapassword {
    display: flex;
    font-style: normal;
    font-size: 1.36em;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    height: 40%;
}

.formulaire > .newpassword {
    display: flex;
    font-style: normal;
    font-size: 1.36em;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.formulaire > .confpassword {
    display: flex;
    font-style: normal;
    font-size: 1.36em;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 100%;
}

.formulaire > .submit {
    display: flex;
    font-style: normal;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    height: 90%;
}

#login, #password, #email, #confpassword, #creapassword, #newpassword {
    width: 13em;
    border-radius: 5px;
    border: none;
    font-size: 1.2em;
    font-weight: 500;
    color: #000000;
}

#connect, #accountcreate {
    border-radius: 0.8125rem;
    border: none;
    font-size: 1.4em;
    font-style: normal;
    font-weight: 500;
    color: black;
    background: #C79400;
    padding-inline: 2em;
    padding-block: 1em;
}

#connect:hover, #accountcreate:hover {
    color: #ffe6c7;
}

.iforgor {
    font-style: normal;
    font-weight: 500;
    font-size: 0.95em;
    text-decoration: none;
    margin-top: auto;
}

#form {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
}

.content {
    display: flex;
    flex-direction: row;
}

#col {
    flex-direction: column;
    width:fit-content;
}

#col > div{
    height: auto;
}

#col > .prix{
    text-align: center;
    padding:0px;
}

#col > .prix > *{
    margin-left:0px;
}

#col > div > *{
    width: 100%;
}

p {
    font-size:1.1em;
}